{% extends "base.twig" %}
{% block title %}投稿確認{% endblock %}

{% block content %}
    <div class="row">
        {% if errors %}
            {{errors.code}}
            <p><a href="/question/{{question_num}}">戻る</a></p>
        {% else %}
            <p>入力内容を確認してください</p>
            <br><p><h3>言語：{{langtype}}</h3></p>
            {% if langtype == 'PHP' %}
            <pre class="brush: php;">{{code}}</pre>
            {% elseif langtype == 'Ruby' %}
            <pre class="brush: ruby;">{{code}}</pre>
            {% elseif langtype == 'Python' %}
            <pre class="brush: python;">{{code}}</pre>
            {% endif %}
            <form id="submit" class="form-horizontal" action="/question/save" method="post">
                <input type="hidden" name="code" value="{{code}}">
                <input type="hidden" name="lang" value="{{langtype}}">
                <input type="hidden" name="question_num" value="{{question_num}}">
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">回答する</button>
                    </div>
                </div>
            </form>
            <form id="cancel" action="/question/{{question_num}}" method="post">
                <input type="hidden" name="code" value="{{code}}">
                <input type="hidden" name="_METHOD" value="PUT">
                <button type="submit" class="btn">キャンセル</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
