{% extends "base.twig" %}
{% block title %}投稿確認{% endblock %}

{% block content %}
    <div class="row">
        {% if errors %}
            {{errors.code}}
            <p><a href="/question/{{question_num}}">戻る</a></p>
        {% else %}
            <p>入力内容を確認してください</p>
            <pre class="brush: php;">{{code}}</pre>
            <form id="submit" class="form-horizontal" action="/question/recieved" method="post">
                <input type="hidden" name="code" value="{{code}}">
                <input type="hidden" name="question_num" value="{{question_num}}">
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">回答する</button>
                    </div>
                </div>
            </form>
            <form id="cancel" action="/question/{{question_num}}" method="post">
                <input type="hidden" name="code" value="{{code}}">
                <input type="hidden" name="_METHOD" value="PUT">
                <button type="submit" class="btn">キャンセル</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
