{% extends "base.twig" %}
{% block title %}問題一覧{% endblock %}

{% block content %}
    <div class="row">
        {% if errors %}
            {{ errors }}
        {% else %}
        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>date</th>
            </tr>
            {% for question in questionList %}
            <tr>
                <td>
                    {{question.id}}
                </td>
                <td>
                    {{question.title}}
                </td>
                <td>
                    {{question.created_at}}
                </td>

                <td>
                    <a href="/question/{{question.id}}">問題に答える</a>
                </td>
                <td>
                    {% if question.answered %}
                        <a href="/answerlist/{{question.id}}">回答を見る</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}
