{% extends "base.twig" %}
{% block title %}問題一覧{% endblock %}

{% block content %}
    <div class="row">
        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>content</th>
                <th>date</th>
            </tr>
            {% for question in questionList %}
            <tr>
                {% for questionItem in question %}
                    <td>
                        {{questionList.content}}
                        {% if question.content == questionItem %}
                            <a href="/answer/{{question.id}}">{{questionItem}}</a>
                        {% else %}
                            {{questionItem}}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <a href="/question/{{question.id}}">問題に答える</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
