{% extends "base.twig" %}
{% block title %}問題一覧{% endblock %}
{% block js %}
<script type="text/javascript">
    function getUserID() {
        mixpanel.track('userID_{{user.id}}',{
            'user_id':{{user.id}},
        }); 
    };
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>問題リスト</h1>
        </div>
        {% if errors %}
            {{ errors }}
        {% else %}
            {% for question in questionList %}
                <div class="question_box">
                    <h2>Q.{{question.id}}:{{question.title}}</h2>
                    <div class="question_box_inner">
                        <p class="create_date">作成日:{{question.created_at}}</p>
                        <p class="level">レベル:{{question.difficulty}}</p> 
                        <p class="count_people_num">回答人数：{{question.answernum}}人</p>
                        <a href="/question/{{question.id}}">
                            <button class="btn btn-large" type="button" onclick="getUserID()">問題に答える</button>
                        </a>
                        {% if question.answered %}
                            <a href="/answerlist/{{question.id}}">
                                <button class="btn btn-large btn-primary" type="button">回答を見る</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
