{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}
{% block js %}
<script type="text/javascript">
    $gotoAnswerSingle.click(function(answer_id) {
        mixpanel.track('gotoAnotherAnswer',{
            'user_id':{{user.id}},
            'answer_id': answer_id
        }); 
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="page-header">
        <h1>問題{{question.id}}のみんなの解答</h1>
    </div>
    <h2>問題</h2>
    <div class="box">
        {% autoescape false %}
        {{question.content}}
        {% endautoescape %}
    </div>
    <br>
    <h2>みんなの回答</h2>
    <ul>
    <table>
        {% for answer in answers %}
            <tr>
                <th align="left" ><a href="/answer/{{answer.id}}" onClick="gotoAnswerSingle({{answer_id}})">{{answer.u_name}}さんの回答</a></th>
                <td>言語：{{answer.lang}}</td>
            </tr>
        {% endfor %}
    </table>
    </ul>
</div>
{% endblock %}
