{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}

{% block content %}
        <div class="row">
            <div class="page-header">
                <h1>{{answerer.name}}さんの{{question.title}}の回答</h1>
            </div>
            <a href="/answerlist/{{question.id}}"><h2>問題{{question.id}}</h2></a>
            {% autoescape false %}
            {{question.content}}
            {% endautoescape %}
            <br>
            <br>
            <h2>回答</h2>
            <h4>言語:{{answer.lang}}</h4>
            {% if answer.lang == 'PHP' %}
            <pre class="brush: php;">{{answer.content}}</pre>
            {% elseif answer.lang == 'Ruby' %}
            <pre class="brush: ruby;">{{answer.content}}</pre>
            {% elseif answer.lang == 'Python' %}
            <pre class="brush: python;">{{answer.content}}</pre>
            {% endif %}
        </div>
{% endblock %}
