{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}
{% block js %}
<script type="text/javascript">
    function gotoAnswerSingle(answer_id) {
        mixpanel.track('gotoAnswer',{
            'user_id':{{user.id}},
            'answer_id': answer_id
        }); 
    };
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="page-header">
        <h1>問題{{question.id}}の{{answererName}}の解答一覧</h1>
    </div>
    <h2>問題</h2>
    <div class="box">
        {% autoescape false %}
        {{question.content}}
        {% endautoescape %}
    </div>
    <br>
    <h2>{{answererName}}の回答一覧</h2>
    <ul>
    <table>
        {% for answer in answers %}
            <tr>
                <th align="left" ><a href="/answer/{{answer.id}}" onClick="gotoAnswerSingle({{answer}})">{{answer.created_at}}に投稿した回答</a></th>
            </tr>
        {% endfor %}
    </table>
    </ul>
</div>
{% endblock %}
