{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}

{% block content %}
	  <script type="text/javascript" src="/syntaxhighlighter/scripts/shCore.js"></script>
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shCore.css" />
	  <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushRuby.js"></script>
	  <link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shCoreDefault.css"/>
	  <script type="text/javascript">SyntaxHighlighter.all();</script>
        <div class="row">
            <div class="page-header">
                <h1>{{answerer.name}}さんの{{question.title}}の回答</h1>
            </div>
            <a href="/answerlist/question/{{question.id}}"><h2>問題{{question.id}}</h2></a>
            {% autoescape false %}
            {{question.content}}
            {% endautoescape %}
            <br>
            <br>
            <h2>回答</h2>
            <h4>言語:{{answer.lang}}</h4>
            {% if answer.lang == 'PHP' %}
            <pre class="brush: php;">{{answer.content}}</pre>
            {% elseif answer.lang == 'Ruby' %}
            <pre class="brush: ruby;">{{answer.content}}</pre>
            {% elseif answer.lang == 'Python' %}
            <pre class="brush: python;">{{answer.content}}</pre>
            {% endif %}
        </div>
{% endblock %}
