{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}
{% block js %}
<script type="text/javascript">
    function seeAnswerList() {
        mixpanel.track('seeAnswerList',{
            'user_id':{{user.id}},
            'question_id': {{question.id}}
        }); 
    }
</script>
{% endblock %}
{% block content %}
<div class="row">
    {% if flash_msg.confarm_msg %}
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
       {{flash_msg.confarm_msg}} 
    </div>
    {% endif %}
    {% if flash_msg.del_ans %}
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
       {{flash_msg.del_ans}} 
    </div>
    {% endif %}
    <div class="page-header">
        <h1>{{question.title}}のみんなの解答一覧</h1>
    </div>
    <a href="/question/{{question.id}}"><h2>問題</h2></a>
    <div class="box">
        {% autoescape false %}
        {{question.content}}
        {% endautoescape %}
    </div>
    <br>
    <h2>みんなの回答一覧</h2>
        <form method="post" action="/answerlist/question/{{question.id}}">
            <select name="lang_narrow">
              <option value="All">すべての言語</option>
              <option value="Ruby">Ruby</option>
              <option value="PHP">PHP</option>
              <option value="Python">Python</option>
            </select>
            <select name="sort">
              <option value="All">すべてを表示</option>
              <option value="like">いいね順</option>
              <option value="comment">コメント順</option>
              <option value="PV">閲覧数順</option>
              <option value="line">コード行数順</option>
            </select>
            <input type="submit" value="絞り込む">
        </form>
  
        {% for answerer_item in answer_data %}
            {% if sort != "All" and sort %}
                {% if lang_narrow == "All" or answerer_item.lang == lang_narrow %}
                    <strong>{{answerer_item.name}}さんの回答</strong>
                    <a href="/answer/{{answerer_item.id}}" >{{answerer_item.created_at}}に投稿した内容</a>
                    <button class="btn disabled {{answerer_item.lang}}">{{answerer_item.lang}}</button>
                    <i class="icon-comment"></i>:{{answerer_item.comment}}件  <i class="icon-thumbs-up"></i>：{{answerer_item.like}}
                    {% if sort == 'PV' and answerer_item.PV != 0 %}
                        <i class="icon-user"></i>:{{answerer_item.PV}}回
                    {% elseif sort == 'PV' %}
                        <i class="icon-user"></i>:0回
                    {% endif %}
                    {% if sort == 'line' and answerer_item.line_count != 0 %}
                        <i class="icon-align-justify"></i>:{{answerer_item.line_count}}行
                    {% elseif sort == 'line' %}
                        <i class="icon-align-justify"></i>:0行
                    {% endif %}
                    <br>
                {% endif %}
            {% else %}
                <p><strong>{{answerer_item.name}}さんの回答</strong></p>
            
                {% if lang_narrow %}
                    {% for item in answerer_item.answer %}
                        {% if lang_narrow == "All" or item.lang == lang_narrow %}
                            <p>
                                |-<a href="/answer/{{item.id}}" >{{item.created_at}}に投稿した内容</a>
                                <button class="btn disabled {{item.lang}}">{{item.lang}}</button>
                                <i class="icon-comment"></i>:{{item.comment}}件  <i class="icon-thumbs-up"></i>：{{item.like}}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <br>
                {% else %}
                    {% for item in answerer_item.answer %}
                        <p>
                            |-<a href="/answer/{{item.id}}" >{{item.created_at}}に投稿した内容</a>
                            <button class="btn disabled {{item.lang}}">{{item.lang}}</button>
                            <i class="icon-comment"></i>:{{item.comment}}件  <i class="icon-thumbs-up"></i>：{{item.like}}
                        </p>
                    {% endfor %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    <a href="/question"><button class="btn" type="button">問題リストに戻る</button></a>
</div>
{% endblock %}
