{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}
{% block js %}
<script type="text/javascript">
    function gotoAnswerSingle(answer_id) {
        mixpanel.track('gotoAnswer',{
            'user_id':{{user.id}},
            'answer_id': answer_id
        }); 
    };
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="page-header">
        <h1>問題{{question.id}}のみんなの解答一覧</h1>
    </div>
    <h2>問題</h2>
    <div class="box">
        {% autoescape false %}
        {{question.content}}
        {% endautoescape %}
    </div>
    <br>
    <h2>みんなの回答一覧</h2>
  
        {% for answerer_item in answer_data %}
            <p>{{answerer_item.name}}さんの回答</p>
            
            {% for item in answerer_item.answer %}
            <p>
                |-<a href="/answer/{{item.id}}">{{item.created_at}}に投稿した内容 , コメント数：{{item.comment}},Like：{{item.like}}</a>
            </p>
            {% endfor %}
            <br>
        {% endfor %}
    <a href="/question"><button class="btn" type="button">問題リストに戻る</button></a>
</div>
{% endblock %}
